.switchContainer {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
}

.switchTrack {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 500px;
    height: 120px;
    box-sizing: border-box;
}

.switchThumb {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 20px;
    width: 210px;
    height: 100px;
    background: var(--black);
    border-radius: 100px;
    transition:
        left 0.3s linear,
        width 0.3s linear,
        color 2s linear;
    z-index: 0;
}

.switchThumbRight {
    left: 320px;
    width: 160px;
}

.switchLabel {
    position: relative;
    font-size: 60px;
    font-weight: 600;
    color: var(--gray-medium);
    font-family: "Playfair Display", serif;
    font-style: italic;
    transition: color var(--transition-normal);
    z-index: 1;
    cursor: pointer;
}

.switchLabelActive {
    color: var(--white);
}

@media (max-width: 768px) {
    .switchThumb {
        width: 50px;
        height: 50px;
    }

    .switchLabel {
        font-size: clamp(24px, 3.5vw, 32px);
    }
}
