* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--black);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

:root {
    /*-- Colors --*/
    --white: #fff;
    --black: #141414;
    --gray-light: #999999;
    --gray-medium: #555555;
    --gray-dark: #333333;
    --gray-very-dark: #0a0a0a;

    /*-- Typography --*/
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-regular: 20px;
    --font-size-large: 24px;

    /*-- Spacing --*/
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;
    --spacing-2xl: 5rem;
    --spacing-3xl: 6rem;
    --spacing-4xl: 8rem;
    --spacing-5xl: 10rem;

    /*-- Border Radius --*/
    --radius-sm: 8px;
    --radius-md: 10px;
    --radius-lg: 12px;

    /*-- Transitions --*/
    --transition-fast: 0.2s ease;
    --transition-normal: 0.3s ease;
}
