* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*-- Colors --*/

:root {
    --white: #fff;
    --black: #2c2c2c;
}
