* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
    color: #fff;
    background-color: #000;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

/*-- Colors --*/

:root {
    --white: #fff;
    --black: #2c2c2c;
}
