* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    /*-- Colors --*/

    --white: #fff;
    --black: #2c2c2c;
    --gray-light: #999999;
    --gray-medium: #555555;
    --gray-dark: #333333;

    /*-- Colors --*/

    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-regular: 20px;
    --font-size-large: 24px;
}
