.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    z-index: 1000;
    padding: 20px;
    margin: 0px;
}

.nav {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    color: var(--white);
}

.nav_list {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    color: var(--white);
}

.nav_link {
    text-decoration: none;
    color: var(--gray-light);
    transition: color 0.3s ease;
}

.nav_link :hover {
    color: var(--white);
}

.button_primary {
    background: var(--black);
    color: var(--white);
    font-size: var(--font-size-small);
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button_primary:hover {
    background: #f5f5f5;
    transform: translateY(-1px);
}

.menuToggle {
    display: none;
    flex-direction: column;
    gap: 4px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.menuToggle span {
    width: 25px;
    height: 2px;
    background: #fff;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .menuToggle {
        display: flex;
    }

    .nav_list {
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        background: #000;
        flex-direction: column;
        padding: 2rem;
        gap: 1.5rem;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    }

    .nav_listOpen {
        transform: translateX(0);
    }
}
