.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    z-index: 1000;
    padding: 20px;
    margin: 0px;
}

.nav {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    color: var(--white);
}

.nav_list {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    color: var(--white);
}

.nav_link {
    text-decoration: none;
    color: var(--gray-light);
    transition: color 0.3s ease;
}

.nav_link :hover {
    color: var(--white);
}

.button_primary {
    background: rgb(0, 0, 0);
    color: var(--white);
    font-size: var(--font-size-small);
    font-weight: 600;
    font-family: "Inter", sans-serif;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    padding: 12px 24px;
    border-radius: 11.5px;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: -0.01em;
}

.button_primary:hover {
    border-color: rgba(255, 255, 255, 0.7);
    transform: translateY(-1px);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.7),
        0 0 20px rgba(255, 255, 255, 0.4), 0 0 35px rgba(255, 255, 255, 0.3),
        0 0 50px rgba(255, 255, 255, 0.15);
}


.button_primary:active {
    transform: translateY(0);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4),
        0 0 8px rgba(255, 255, 255, 0.2), 0 0 15px rgba(255, 255, 255, 0.1);
}

.menuToggle {
    display: none;
    flex-direction: column;
    gap: 4px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.menuToggle span {
    width: 25px;
    height: 2px;
    background: #fff;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .menuToggle {
        display: flex;
    }

    .nav_list {
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        background: #000;
        flex-direction: column;
        padding: 2rem;
        gap: 1.5rem;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    }

    .nav_listOpen {
        transform: translateX(0);
    }
}
