* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--black);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

:root {
    /*-- Colors --*/
    --white: #fff;
    --black: #141414;
    --gray-light: #b1b1b1;
    --gray-medium: #555555;
    --gray-dark: #333333;
    --gray-very-dark: #0a0a0a;

    /*-- Typography --*/

    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-regular: 20px;
    --font-size-large: 24px;

    --font-size-heading-xs: 24px;
    --font-size-heading-sm: 32px;
    --font-size-heading-md: 40px;
    --font-size-heading-lg: 56px;
    --font-size-heading-xl: 80px;
    --font-size-heading-xxl: 110px;

    /*-- line height --*/
    --line-height-display: 1.15;

    /*-- Spacing --*/
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 48px;
    --spacing-2xl: 80px;
    --spacing-3xl: 96px;
    --spacing-4xl: 128px;
    --spacing-5xl: 160px;

    /*-- Border Radius --*/
    --radius-sm: 8px;
    --radius-md: 10px;
    --radius-lg: 12px;

    /*-- Transitions --*/
    --transition-fast: 0.2s ease;
    --transition-normal: 0.3s ease;

    /*-- Project Grid --*/
    --project-row-height: 200px;
    --project-large-row-height: 250px;
}

@media (max-width: 1024px) {
    :root {
        --font-size-heading-xs: 22px;
        --font-size-heading-sm: 30px;
        --font-size-heading-md: 38px;
        --font-size-heading-lg: 52px;
        --font-size-heading-xl: 68px;
        --font-size-heading-xxl: 90px;
    }
}

@media (max-width: 768px) {
    :root {
        --font-size-heading-xs: 20px;
        --font-size-heading-sm: 26px;
        --font-size-heading-md: 34px;
        --font-size-heading-lg: 44px;
        --font-size-heading-xl: 60px;
        --font-size-heading-xxl: 72px;
    }
}

@media (max-width: 480px) {
    :root {
        --font-size-heading-xs: 18px;
        --font-size-heading-sm: 24px;
        --font-size-heading-md: 30px;
        --font-size-heading-lg: 36px;
        --font-size-heading-xl: 46px;
        --font-size-heading-xxl: 58px;
    }
}
