/*====Can models====*/

.canContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
    justify-content: center;
    margin: 2rem auto;
    max-width: 1400px;
    padding: 0 1rem;
}

.can {
    flex: 1;
}

.canWrapper {
    flex: 1;
}
